---
import styles from './metadata.module.scss';

const { categories, slug } = Astro.props;

type Category = {
	 title: string; items: string[];  
}
---

<div class={styles.wrap}>
	{categories.map(({ items, title }: Category) => {
		if (!items || !items.length) return;
		return (
			<div class={styles.inner}>
				<h4 class={styles.title} id={`${slug}-${title}-with`}>
					{title} with
				</h4>
				<ul class={styles['metadata-list']} aria-labelledby={`${slug}-${title}-with`}>
					{items.map((item: string) => (
						<li class={styles['metadata-item']} >
							<span>{item}</span>
						</li>
					))}
				</ul>
			</div>
		);
	})}
</div>
